<!DOCTYPE html>
<html>

<head>
  <title>Vue Markdown PDQ</title>
  <script src="https://unpkg.com/vue@2.1.8/dist/vue.min.js"></script>
  <script src="../dist/vue-markdown-pdq.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css">
  <link rel="stylesheet" href="https://unpkg.com/katex@0.6.0/dist/katex.min.css">
  <style>
      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
            "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    .red {
      color: red;
    }
    .bg-info {
      background: lightblue;
      padding:4px;
    }
    .mytbl th{color:#FFF;background-color:#AAA;border:1px solid #888;padding:8px 15px 8px 15px}
    .mytbl td{padding:5px 15px 5px 15px;border:1px solid #888}
    .mytbl tr:nth-child(even){background:#EEE}
    .tcenter table {
        margin-left:auto;
        margin-right:auto;
    }
    .icenter {
        margin-left:auto;
        margin-right:auto;
        display:block;
    }
    
    label {padding-left:10px; }

    body {
        position:absolute;top:0px;left:0px;right:0px;bottom:0px;background-color:lightgray; margin:0;
        background:white;
    }
    .forminput {
        position: fixed;
        top: 0;
        z-index: 1071;
        width:100%;
        background-color: #c9e4e8;
        box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,.25), inset 0 -1px 5px rgba(0,0,0,.25);
    }
    .mainwin {
        margin-top:50px;
    }
    #app { height:100%; width:100%; }

  </style>
</head>

<body>
    
  <div id="app">
    
<div ref="data" style="display:none">
https://github.com/pcmacdon/vue-markdown/pdq

## Typographic replacements

Enable typographer option to see result.

(c) (C) (r) (R) (tm) (TM) (p) (P) +-

test.. test... test..... test?..... test!....

!!!!!! ???? ,,  -- ---

"Smartypants, double quotes" and 'single quotes'

### Attributes and Spans

paragraph *style me*{.red} more text

paragraph with [a style me span]{.red}

``` {.red}
// Styled code block
function foo() {
    return 0;
}
```

### Emojies

> Classic markup: :wink: :cry: :laughing: :yum: :warning:
>
> Shortcuts (emoticons): :-) :-( 8-) ;)

# h1 Heading
<h2> h2 Heading by HTML</h2>

## h2 Heading
### h3 Heading

## Horizontal Rules

___

---

***

## Emphasis

**This is bold text**

__This is bold text__

*This is italic text*

_This is italic text_

~~Strikethrough~~


## Blockquotes


> Blockquotes can also be nested...
>> ...by using additional greater-than signs right next to each other...
> > > ...or with spaces between arrows.


## Lists

Unordered

+ Create a list by starting a line with `+`, `-`, or `*`
+ Sub-lists are made by indenting 2 spaces:
  - Marker character change forces new list start:
    * Ac tristique libero volutpat at
    + Facilisis in pretium nisl aliquet
    - Nulla volutpat aliquam velit
+ Very easy!

Ordered

1. Lorem ipsum dolor sit amet
2. Consectetur adipiscing elit
3. Integer molestie lorem at massa


1. You can use sequential numbers...
1. ...or keep all the numbers as `1.`

Start numbering with offset:

57. foo
1. bar


## Blocks

### Code
Inline `code`

Indented code

    // Some comments
    line 1 of code
    line 2 of code
    line 3 of code


Block code "fences"

```
Sample text here...
```

Syntax highlighting

``` js
var foo = function (bar) {
  return bar++;
};

console.log(foo(5));
```

### Pandocs
::: {.bg-info}
:warning: Pandoc **styled** blocks
:::

### Collapsible

+++ Collapsible
Stuff you **want** to see here ;)

+++ Sub-collapsible
Nested as well.
+++


## Tables

| Option | Description |
| ------ | ----------- |
| data   | path to data files to supply the data that will be passed into templates. |
| engine | engine to be used for processing templates. Handlebars is the default. |
| ext    | extension to be used for dest files. |

Right aligned columns and styling

::: {.mytbl .tcenter}
| Option | Description |
| ------:| -----------:|
| data   | path to data files to supply the data that will be passed into templates. |
| engine | engine to be used for processing templates. Handlebars is the default. |
| ext    | extension to be used for dest files. |
:::

## Links

[vue-markdown](https://github.com/miaolz123/vue-markdown)

[link with title](https://github.com/miaolz123/vue-markdown "VueMarkdown")

Autoconverted link https://github.com/miaolz123/vue-markdown (enable linkify to see)


## Images

![Logo](logo.png)

Like links, Images also have a footnote style syntax

![Alt text][id]
![Alt text][id]

With a reference later in the document defining the URL location:

[id]: logo.png  "Jsi Logo"


![Attrs][id]

Attributes

![Logo](logo.png){width=100 height=100 title="Using attrs"}

![Logo](logo2.png){.icenter style="width:30px; height:30px;" title="Using attrs to center and lazy-load" loading="lazy"}

### Subscript / Superscript

- 19^th^
- H~2~O


### \<ins>

++Inserted text++


### \<mark>

==Marked text==


### Footnotes

Footnote 1 link[^first].

Footnote 2 link[^second].

Inline footnote^[Text of inline footnote] definition.

Duplicated footnote reference[^second].

[^first]: Footnote **can have markup**

    and multiple paragraphs.

[^second]: Footnote text.


### Definition lists

Term 1

:   Definition 1
with lazy continuation.

Term 2 with *inline markup*

:   Definition 2

        { some code, part of Definition 2 }

    Third paragraph of definition 2.

_Compact style:_

Term 1
  ~ Definition 1

Term 2
  ~ Definition 2a
  ~ Definition 2b


### Abbreviations

This is HTML abbreviation example.

It converts "HTML", but keep intact partial entries like "xxxHTMLyyy" and so on.

*[HTML]: Hyper Text Markup Language
</div>
    <div class="forminput" style="padding:5px">
      <span><a href="../README.md">Vue-Markdown-PDQ</a> Demo: </span>
      <span class="checkbox">
        <label><input v-model="show" type="checkbox">show</label>
      </span>
      <span class="checkbox">
        <label><input v-model="html" type="checkbox">html</label>
      </span>
      <span class="checkbox">
        <label><input v-model="breaks" type="checkbox">breaks</label>
      </span>
      <span class="checkbox">
        <label><input v-model="linkify" type="checkbox">linkify</label>
      </span>
      <span class="checkbox">
        <label><input v-model="emoji" type="checkbox">emoji</label>
      </span>
      <span class="checkbox">
        <label><input v-model="typographer" type="checkbox">typographer</label>
      </span>
      <span class="checkbox">
        <label><input v-model="toc" type="checkbox">toc</label>
      </span>
      <span class="checkbox">
        <label><input v-model="collapsible" type="checkbox">collapsible</label>
      </span>
      <span class="checkbox">
        <label><input v-model="attrs" type="checkbox">attrs</label>
      </span>
      <span class="checkbox">
        <label><input v-model="pandoc" type="checkbox">pandoc</label>
      </span>
    </div>
    <div class="mainwin">
    <div v-html="tocVal"></div>

    <table width="100%">
        <tr>
            <td width="50%" valign="top">
                <textarea style="width:100%;" rows="300" class="source full-height" v-model="source"></textarea></td>
            <td width="50%" valign="top">
                <vue-markdown-pdq style="padding-left:4px"
                :anchor-attributes="anchorAttrs"
                
                class="result-html full-height" :watches="['show','html','breaks','linkify','emoji','attrs','collapsible', 'typographer','toc']"
          :source="source" :show="show" :html="html" :breaks="breaks" :linkify="linkify"
          :emoji="emoji" :typographer="typographer" :toc="toc" v-on:rendered="allRight"
          :collapsible="collapsible" :attrs="attrs" :pandoc="pandoc"
          v-on:toc-rendered="tocAllRight"
            />
            </td>
        </tr>
    </table>

  </div>
  </div>
  <script>
    Vue.use(VueMarkdownPdq);
    new Vue({
      el: '#app',
      mounted() {
          this.source = this.$refs.data.innerHTML;
      },
      data() {
        return {
            source:'',
            show: true,
            html: false,
            breaks: true,
            linkify: false,
            emoji: true,
            typographer: true,
            toc: false,
            collapsible:true,
            attrs:true,
            pandoc:true,
            tocVal:'',
            anchorAttrs: {
              target: '_blank',
              rel: 'noopener noreferrer nofollow'
            }
          }
      },
      methods: {
        allRight: function (htmlStr) {
          console.log("markdown is parsed !");
          if (!this.toc)
              this.tocVal = '';
        },
        tocAllRight: function (tocHtmlStr) {
          this.tocVal = tocHtmlStr;
        }
      },
    });
</script>


</body>

</html>
